<div id="table">
    <% let users = list.Items %>
    <%= if (len(users) > 0) { %>
        <table class="min-w-full border-separate border-spacing-0 border-none text-left">
            <thead class="h-8 rounded-md bg-[#31363F]">
                <tr class="">
                    <th class="w-[399px] h-8  px-3 text-xs font-semibold text-slate-11 first:rounded-l-md last:rounded-r-md">Email
                    </th>
                    <th class="w-[399px] h-8  px-3 text-xs font-semibold text-slate-11 first:rounded-l-md last:rounded-r-md cursor-pointer flex items-center gap-1"
                    <%= if (orderBy == "name" && order=="asc"){ %>
                        hx-get="/?orderBy=name&order=desc"
                    <% } else { %>
                        hx-get="/?orderBy=name&order=asc"
                    <% } %>
                    hx-trigger="click"
                    hx-swap="outerHTML"
                    hx-target="#table"

                    >Name
                        <%= if (orderBy == "name") { %>
                            <svg class="<%= if (order=="asc") { %> rotate-180   <% } %>" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.00004 3.33334V12.6667M8.00004 12.6667L12.6667 8.00001M8.00004 12.6667L3.33337 8.00001" stroke="#EEEEEE" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        <% } %>
                    </th>
                    <th class="text-right w-[103px] h-8  px-3 text-xs font-semibold text-slate-11 first:rounded-l-md last:rounded-r-md">Phone</th>

                    <th class="text-right w-[103px] h-8  px-3 text-xs font-semibold text-slate-11 first:rounded-l-md last:rounded-r-md  flex items-center gap-1 cursor-pointer"
                    <%= if (orderBy == "status" && order=="asc") { %>
                        hx-get="/?orderBy=status&order=desc"
                    <% } else { %>
                        hx-get="/?orderBy=status&order=asc"
                    <% } %>
                    hx-trigger="click"
                    hx-swap="outerHTML"
                    hx-target="#table"
                    >Status
                        <%= if (orderBy == "status") { %>
                            <svg class="<%= if (order=="asc") { %> rotate-180   <% } %>" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.00004 3.33334V12.6667M8.00004 12.6667L12.6667 8.00001M8.00004 12.6667L3.33337 8.00001" stroke="#EEEEEE" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        <% } %>
                    </th>
                    <th class="w-[70px] h-8  px-3 text-xs font-semibold text-slate-11 first:rounded-l-md last:rounded-r-md"></th>
                </tr>
            </thead>
            <tbody class="">
                <%= for (key, user) in users { %>
                    <tr class="">
                        <td class="py-3 h-10 truncate border-b border-b-[#31363F] px-3 text-sm">
                            <div class="group flex items-center gap-3">
                                <span class="cursor-pointer border-b border-dashed border-slate-9 transition duration-300 ease-in-out group-hover:border-blue-9"><%= user.Email %></span>
                            </div>
                        </td>
                        <td class="h-10 truncate border-b border-b-[#31363F] px-3 text-sm">
                            <%= user.Name %>
                        </td>
                        <td class="text-right h-10 truncate border-b border-b-[#31363F] px-3 text-sm">
                            <span class="text-slate-11 text-xs"><%= user.Phone %></span>
                        </td>
                        <td class="h-10 truncate border-b border-b-[#31363F] px-3 text-sm">
                            <%= if (user.Active) { %>
                                <span class="inline-flex select-none items-center whitespace-nowrap font-medium bg-[#76ABAE] text-[#EEEEEE] text-xs h-6 px-2 rounded">Active</span>
                            <% } else { %>
                                <span class="inline-flex select-none items-center whitespace-nowrap font-medium bg-red-500 text-red-100 text-xs h-6 px-2 rounded">Deactivated</span>
                            <% } %>
                        </td>
                        <td class="text-center h-10 border-b border-b-[#31363F] px-3 text-sm relative" x-data="{show:false}" @click.away="show=false">
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>

        <%= partial("home/pagination.html", {
            list: list,
            currentURL: currentURL,
            hx_target: "#table",
            swap: "outerHTML"
        }) %>
    <% } else { %>
        <div class="flex justify-center items-center flex-col justify-center h-64 border border-[#31363F] rounded-lg">
            <span class="text-white text-lg">No users yet</span>
            <span class="text-white text-sm">Add users and they will show up here.</span>
        </div>
    <% } %>
    
</div>